<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      layout:decorate="~{layout}">
<head>
    <title>Thêm/Sửa nhân viên</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/Css/css.css}">
</head>
<body>
<section layout:fragment="content">
    <h1>Thêm/Sửa nhân viên</h1>
    <form th:action="@{/nhanvien/save}" th:object="${nhanVien}" method="post">
        <div class="mb-3">
            <label for="maNV" class="form-label">Mã NV:</label>
            <input type="text" class="form-control" id="maNV" th:field="*{maNV}" />
        </div>
        <div class="mb-3">
            <label for="tenNV" class="form-label">Tên NV:</label>
            <input type="text" class="form-control" id="tenNV" th:field="*{tenNV}" />
        </div>
        <div class="mb-3">
            <label for="phai" class="form-label">Giới tính:</label>
            <select class="form-control" id="phai" th:field="*{phai}">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="noiSinh" class="form-label">Nơi sinh:</label>
            <input type="text" class="form-control" id="noiSinh" th:field="*{noiSinh}" />
        </div>
        <div class="mb-3">
            <label for="luong" class="form-label">Lương:</label>
            <input type="number" class="form-control" id="luong" th:field="*{luong}" />
        </div>
        <div class="mb-3">
            <label for="phongBan" class="form-label">Phòng ban:</label>
            <select class="form-control" id="phongBan" th:field="*{phongBan.maPhong}">
                <option th:each="phongBan : ${phongBanList}" th:value="${phongBan.maPhong}" th:text="${phongBan.tenPhong}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</section>
</body>
</html>
